* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Lato", sans-serif;
}
body {
  color: rgb(215, 214, 214);
}
.colors {
  min-height: 80vh;
  display: flex;
}
.color {
  position: relative;
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.color h2 {
  font-size: 2rem;
  cursor: pointer;
}
.sliders {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
  bottom: 0;
  background: white;
  transform: translateY(100px);
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}
.sliders-active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}
.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 1rem 0 0 1rem;
  padding: 0.5rem;
  background: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.controls {
  display: flex;
  flex-direction: column;
}
.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 10vh;
}
.panel button {
  margin: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background: rgb(31, 33, 63);
  color: white;
  cursor: pointer;
}
.panel p {
  font-size: 1.2rem;
}
.adjust,
.lock {
  color: rgb(31, 33, 63);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background: white;
  cursor: pointer;
  margin: 2rem 0;
}
